.btn-checkout, #upsell-form-submit {
	-webkit-animation: btnWiggle 2s infinite;
	-moz-animation: btnWiggle 2s infinite;
	-o-animation: btnWiggle 2s infinite;
	animation: btnWiggle 2s infinite;
}
.btn-checkout:hover, #upsell-form-submit:hover {
	animation: none !important;
}

#upsell-form-submit {
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
	background: #6AB04C !important;
}


/* animation */
@-webkit-keyframes btnWiggle {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
/**
	0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); } **/
}
@-o-keyframes btnWiggle {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
/**	
	0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); } **/
}
@keyframes btnWiggle {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
/**	
	0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); } **/
}